$colors: (
    black: (primary: #282829, lighten-1: #333333, lighten-2: #424242, lighten-4: #666666),
    white:
    (
        primary: #FFFFFF,
        darken-1:#EEEEEE,
        darken-2: #D2D3D4,
        darken-3: #BDBDBD,
        darken-4: #95A6B4,
        darken-5: #6F7F84
    )
);
