/*
* All of the project colors are captured within a color
* map and follow a consistent naming convention so as to
* make it easier to keep track of the different possible
* color combinations:
*/
$colors: (
    black:
        (
            primary: #282829,
            lighten-1: #333,
            lighten-2: #424242,
            lighten-3: #666
        ),
    white:
        (
            primary: #fff,
            darken-1:#eee,
            darken-2: #d2d3d4,
            darken-3: #bdbdbd,
            darken-4: #95a6b4,
            darken-5: #6f7f84
        )
);

// In order to call a color use 'map-deep-get'
// Example: 'background-color: map-deep-get($colors, black, primary);'
