// Colors
$shark: #262628;
$woodsmoke: #18181a;
$mine-shaft: #333;
$tundora: #424242;
$dove-gray: #666; // del
$white: #fff;
$gallery: #eee;
$iron: #d2d3d4;
$silver: #bdbdbd;
$gull-gray: #95a6b4;
$slate-gray: #6f7f8f;
$rolling-stone: #6f7f84;

// Settings
$grid-gap: 1.6rem; // 16px (General spacing)
$design-base: 16px;
$header-height: 80px; // header size
$wrapper-width: 1400px; // content max size
