mixin venture(shorthand, link, logo, copy, previews)
    a.venture(class= shorthand href= link target="_blank")
        .venture__box.venture__box--logo
            +svg(logo, 'venture__logo')
        .venture__box.venture__box--copy
            .venture__copy
                h5.venture__type= copy.type
                h2.venture__title= copy.title
                each paragraph in copy.text
                    p.venture__text
                        != paragraph
        .venture__box.venture__box--preview
            each preview in previews
                img.venture__preview(src= preview.file.indexOf('http') ? `/assets/images/${preview.file}` : preview.file alt=preview.description)
        .venture__box.venture__box--arrow
            +inline-svg('arrow-right', 'venture__arrow')