.footer {
    background-color: map-deep-get($colors, black, primary);
}

.footer__wrapper {
    @include wrapper;
    max-width: calc(#{$wrapper-width} + #{$gridGap*8});
    padding: $gridGap*8 5vw;
}

.footer__box {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include media-query('sm') {
        flex-direction: row;
    }
}

.footer__tagline {
    @include text('trade-gothic', 14, 700, map-deep-get($colors, black, lighten-3));
    margin: 0;
    text-transform: uppercase;
}

.footer__flag {
    align-items: center;
    display: flex;
    height: 36px;
    justify-content: center;
    margin: $gridGap*3;
    position: relative;
    text-decoration: none;

    @include media-query('sm') {
        margin: 0;
    }
}

.footer__logo {
    @include hide-text;
    background-image: url('../images/braveux-logo.svg');
    background-repeat: no-repeat;
    display: flex;
    height: 36px;
    opacity: 1;
    position: relative;
    transition: opacity 300ms 250ms;
    width: 30px;

    .footer__flag:hover & {
        opacity: 0;
        transition: opacity 300ms;
    }
}

.footer__logo--hover {
    align-self: center;
    background-image: url('../images/braveux-logo--hover.svg');
    background-repeat: no-repeat;
    display: block;
    height: 12px;
    left: 50%;
    opacity: 0;
    position: absolute;
    transform: translateX(-50%) translateY(100px);
    transition: opacity 300ms, transform 1200ms;
    width: 107px;

    .footer__flag:hover & {
        opacity: 1;
        transform: translateX(-50%) translateY(0);
        transition: opacity 300ms 250ms, transform 300ms 200ms;
    }
}

.footer__legal {
    @include text('sentinel', 16, 300, map-deep-get($colors, black, lighten-3));
    margin: 0;
}
