.header {
    background-color: map-deep-get($colors, black, primary);
    width: 100%;
}

.header__wrapper {
    @include wrapper;
    max-width: calc(#{$wrapper-width} + #{$gridGap*8});
}

.header__box {
    align-items: center;
    display: flex;
    height: $header-height;
    justify-content: center;
    padding: $gridGap*1.5 5vw;
    width: 100%;

    @include media-query('sm') {
        justify-content: space-between;
    }
}

.header__logo {
    display: none;

    @include media-query('sm') {
        display: block;
        fill: map-deep-get($colors, white, darken-2);
        height: 31px;
        width: 37px;
    }
}

.header__title {
    fill: map-deep-get($colors, white, primary);
    height: 21px;
    width: 255px;
}

.header__link {
    display: none;

    @include media-query('sm') {
        display: flex;
        margin-left: $gridGap;

        &::after {
            content: ' ';
        }
    }
}
