.ventures {
    display: flex;
    flex-direction: column;
}

.venture {
    background-color: map-deep-get($colors, black, primary);
    display: flex;
    flex-flow: row wrap;
    min-height: 260px;
}

.venture__box {
    align-items: center;
    display: flex;
    padding: $gridGap*2;
    width: 100%;

    + .venture__box {
        box-shadow: -3px 0 0 0 map-deep-get($colors, black, lighten-1);
    }
}

.venture__box--logo {
    max-width: calc(100px + #{$gridGap*4});
}

.venture__box--copy,
.venture__box--image {
    max-width: calc(50% - ((100px + 25px) + #{$gridGap*5}) / 2);
}

.venture__box--arrow {
    max-width: calc(25px + #{$gridGap*2});
}

.venture__logo {
    align-self: center;
    height: 100%;
    max-height: 80px;
    max-width: 100px;
    object-fit: contain;
}

.venture__copy {
    display: flex;
    flex-direction: column;
    // margin-bottom: auto;
}

.venture__type {
    @include text('trade-gothic', 12, 700, map-deep-get($colors, white, darken-1));
    letter-spacing: 1px;
    margin: 0 0 $gridGap;
    text-transform: uppercase;
}

.venture__title {
    @include text('source-sans-pro', 36, 300, map-deep-get($colors, white, darken-1));
    margin: 0 0 $gridGap*1.5;
}

.venture__text {
    @include text('sentinel', 16, 300, map-deep-get($colors, white, darken-2));
    margin: auto 0 0;
}

.venture__image {
}
