.ventures {
  display: flex;
  flex-direction: column;

  @include media-query('md') {
    flex-flow: row wrap;
  }

  @include media-query('lg') {
    flex-direction: column;
  }
}

.venture {
  background-color: $woodsmoke;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 2px rgba(0, 0, 0, 0.12);
  color: $gallery;
  display: flex;
  flex-flow: row wrap;
  min-height: 260px;
  opacity: 0;
  position: relative;
  text-decoration: none;
  transition: box-shadow 350ms cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 350ms;
  visibility: hidden;
  width: 100%;

  &:hover {
    background-color: darken($shark, 2);
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.5);
  }

  + .venture {
    margin-top: $grid-gap * 4;
  }

  @include media-query('md', only) {
    max-width: calc(50% - #{$grid-gap});

    + .venture {
      margin-left: $grid-gap * 2;
      margin-top: $grid-gap * 2;

      &:nth-of-type(2) {
        margin-top: 0;
      }

      &:nth-of-type(2n + 1) {
        margin-left: 0;
      }
    }
  }

  @include media-query('lg') {
    flex-flow: row wrap;
    max-width: none;
  }
}

.venture__box {
  align-items: center;
  display: inline-flex;
  padding: $grid-gap * 2;
  transition: box-shadow 350ms;
  width: 100%;

  @include media-query('lg') {
    + .venture__box {
      box-shadow: -3px 0 0 0 $shark;
    }

    .venture:hover & + & {
      box-shadow: -3px 0 0 0 lighten($shark, 3);
    }
  }
}

.venture__box--logo {
  position: absolute;
  right: 0;
  top: 0;
  width: auto;

  @include media-query('lg') {
    justify-content: center;
    max-width: calc(100px + #{$grid-gap * 4});
    padding-right: $grid-gap * 2;
    position: relative;
    width: 100%;
  }
}

.venture__box--copy {
  max-width: calc(100% - (48px + #{$grid-gap * 2}));
}

.venture__box--copy,
.venture__box--preview {
  @include media-query('lg') {
    // calc sides and split in half
    max-width: calc(50% - ((100px + 25px) + #{$grid-gap * 5}) / 2);
  }
}

.venture__box--preview {
  border-top: 3px solid $tundora;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: $grid-gap * 2;
  position: relative;
  transition: border 350ms cubic-bezier(0.25, 0.8, 0.25, 1);

  .ftb & {
    align-items: center;
    flex-flow: row wrap;
    justify-content: center;
    overflow: hidden;
  }

  @include media-query('md') {
    margin-top: auto;
  }

  @include media-query('lg') {
    border: none;
    margin: 0;
  }
}

.venture__cta {
  background-color: $woodsmoke;
  border-top: 3px solid $tundora;
  display: block;
  flex-shrink: 0;
  margin: $grid-gap * 2 #{-$grid-gap * 2} #{-$grid-gap * 2};
  padding: $grid-gap * 2 $grid-gap * 2;
  text-align: center;
  transition: background-color 350ms;
  width: calc(100% + #{$grid-gap * 4});
  z-index: 10;

  .venture:hover & {
    background-color: #222224;

    .btn--text {
      @extend .btn--text:hover;
    }
  }

  @include media-query('lg') {
    display: none;
  }
}

.venture__box--arrow {
  display: none;

  @include media-query('lg') {
    display: flex;
    justify-content: center;
    max-width: calc(25px + #{$grid-gap});
    padding: $grid-gap * 2 $grid-gap/2;
  }
}

.venture__logo {
  margin-left: auto;
  max-height: 36px;
  max-width: 48px;
  object-fit: contain;
  width: 100%;

  @include media-query('lg') {
    align-self: center;
    margin: 0;
    max-height: 80px;
    max-width: 100px;
  }
}

.venture__copy {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.venture__type {
  @include text('nudista', 12, 600, $gallery);
  letter-spacing: 1.5px;
  margin: 0 0 $grid-gap/2;
  text-transform: uppercase;
  transition: color 350ms;

  .venture:hover & {
    color: #fff;
  }

  @include media-query('lg') {
    margin: 0 0 $grid-gap;
  }
}

.venture__title {
  @include text('nudista', 32, 600, $gallery);
  line-height: 1.2;
  margin: 0 0 $grid-gap * 0.75;
  transition: color 350ms;

  .venture:hover & {
    color: #fff;
  }

  @include media-query('lg') {
    margin: 0 0 $grid-gap * 1.5;
  }
}

.venture__text {
  @include text('sentinel', 16, 300, $iron);
  margin: auto 0 0;
  transition: color 350ms;

  .venture:hover & {
    color: #fff;
  }
}

.venture__previews {
  align-self: center;
  display: inline-table;
  height: 0;
  padding-bottom: 43.5%;
  position: relative;
  width: 100%;
}

.venture__preview {
  max-height: 190px;
  object-fit: contain;
  width: 100%;

  .ffux & {
    @include calcSpacing(3);

    &:nth-of-type(1) {
      transform: translateX(50%) rotate(-25deg) scale(0.9);
    }

    &:nth-of-type(2) {
      box-shadow: 0 7px 20px 0 rgba(0, 0, 0, 0.8);
      transform: scale(1.125);
      z-index: 1;
    }

    &:nth-of-type(3) {
      transform: translateX(-50%) rotate(25deg) scale(0.9);
    }
  }

  .sap & {
    @include calcSpacing(4);
    // transform-origin: bottom center;
    transform-style: preserve-3d;

    &:nth-of-type(1) {
      z-index: 10;
    }

    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      box-shadow: 7px 7px 30px 0 rgba(0, 0, 0, 0.4);
    }

    &:nth-of-type(2) {
      transform: translateY(-5px);
    }

    &:nth-of-type(3) {
      transform: translateY(30px);
    }

    &:nth-of-type(4) {
      transform: translateY(10px);
    }
  }

  .bravery & {
    height: 100%;
    max-height: 130px;
    transform-style: preserve-3d;

    &:nth-of-type(1),
    &:nth-of-type(2) {
      max-height: 137px;
    }

    &:nth-of-type(1) {
      transform: translateZ(100px);
      z-index: 2;
    }

    &:nth-of-type(2) {
      transform: translateZ(50px);
      z-index: 1;
    }

    &:nth-of-type(3) {
      transform: translateZ(0);
      z-index: 0;
    }

    + .venture__preview {
      margin-top: -100px;
    }
  }

  .ftb & {
    margin: $grid-gap/4;
    max-height: 27px;
    width: auto;

    // trim the last 6 badges on smaller displays
    &:nth-last-child(-n + 6) {
      display: none;
    }

    @include media-query('lg') {
      &:nth-last-child(-n + 6) {
        display: block;
      }
    }
  }

  .compass & {
    height: calc(50% - 2%);
    max-height: none;
    position: absolute;
    width: auto;
    // Directory
    &:nth-of-type(1) {
      height: 100%;
      left: 0;
    }
    // Date
    &:nth-of-type(2) {
      left: 20.6%;
      top: 0;
    }
    // Weather
    &:nth-of-type(3) {
      bottom: 0;
      left: 20.6%;
    }
    // Clock
    &:nth-of-type(4) {
      left: 40.6%;
      top: 0;
    }
    // Uber
    &:nth-of-type(5) {
      left: 61.1%;
      top: 0;
    }
    // Bikeshare
    &:nth-of-type(6) {
      bottom: 0;
      left: 61.1%;
    }
    // Metro
    &:nth-of-type(7) {
      height: 100%;
      right: 0;
    }
  }
}

.venture__arrow {
  fill: $white;
  height: 32px;
  width: 20px;
}

.venture__link {
  &::after {
    transform: scale(1);
  }
}
