footer.footer
    .footer__wrapper
        .footer_inner
            a.footer__logo(href='/')
                +inline-svg({
                  svgName: 'logo-wordmark'
                })
            .footer__legal
                p.footer__text
                    span.footer__copyright &copy;
                        script.
                          document.write(new Date().getFullYear());
                        noscript 2018
                    | &nbsp;Brave UX. All Rights Reserved.
                .footer__stars &#9733;
                p.footer__text Proudly made in our Nation&rsquo;s Capital.
