footer.footer
    .footer__wrapper
        .footer__box
            p.footer__tagline Built By Brave
            a(href='https://braveux.com' target='_blank').footer__flag
                .footer__logo Brave UX
                .footer__logo--hover
            p.footer__legal &copy; Copyright&nbsp;
                script document.write(new Date().getFullYear());
                noscript 2018