//- Header menu component
header.header.is-visible
    .header__wrapper
        .header__box
            a(href="#")
                +inline-svg('braventures-logo', 'header__logo')
            a(href="#")
                +inline-svg('braventures-title', 'header__title')
            a.btn--text.header__link(href="https://braveux.com" target="_blank") Visit Brave&nbsp;UX