.ventures
    //- Fight For UX
    +venture(
        'ffux',
        'https://fightforux.com/',
        'ffux-logo',
        {
            type: 'Principled Posters',
            title: 'Fight For UX',
            text: ['Poster series to inspire UX work of the highest standard']
        },
        [
            {
                file: 'ffux/poster-empathy.png',
                description: 'You are NOT your user'
            },
            {
                file: 'ffux/poster-consistency.png',
                description: 'Practice Safe Hex: Always use a style guide'
            },
            {
                file: 'ffux/poster-unity.png',
                description: 'UX is United [Concept, Content, Color, Code]'
            }
        ]
    )

    //- Stock Against Photography
    +venture(
        'sap',
        'https://stockagainstphotography.com/',
        'sap-logo',
        {
            type: 'Party Game',
            title: 'Stock Against Photography',
            text: ['A card game we made with pictures we didn&rsquo;t take']
        },
        [
            {
                file: 'sap/sap-box.png',
                description: 'Card game box'
            },
            {
                file: 'sap/sap-card-1.png',
                description: 'Playing card with an image of a viking with confetti'
            },
            {
                file: 'sap/sap-card-2.png',
                description: `Playing card that reads "The infomercial's 'before' photo."`
            },
            {
                file: 'sap/sap-card-3.png',
                description: `Playing card that reads "My range of human emotions."`
            }
        ]
    )

    //- Bravery
    +venture(
        'bravery',
        'https://braveux.com/bravery',
        'bravery-logo',
        {
            type: 'Weekly Insight',
            title: 'Bravery',
            text: ['Each issue features three big UX ideas, direct from Brave.']
        },
        [
            {
                file: 'bravery/bravery-top.svg',
                description: 'Flattened low-fi wireframe an article from Bravery'
            },
            {
                file: 'bravery/bravery-middle.svg',
                description: 'Flattened low-fi wireframe an article from Bravery'
            },
            {
                file: 'bravery/bravery-bottom.svg',
                description: 'Flattened low-fi wireframe an article from Bravery'
            }
        ]
    )

    //- Compass
    +venture(
        'compass',
        'https://compass.is/',
        'compass-logo',
        {
            type: 'Realtime Dashboard',
            title: 'Compass',
            text: ['Modern digital signage for modern commuters.']
        },
        [
            {
                file: 'compass/compass-dashboard.png',
                description: 'Dashboard example for Compass'
            }
        ]
    )

    //- For the Badge
    +venture(
        'ftb',
        'https://forthebadge.com/',
        'ftb-logo',
        {
            type: 'Fun for Devs',
            title: 'For the Badge',
            text: ['The best way to show off your coding achievements.']
        },
        [
            {
                file: 'https://forthebadge.com/images/badges/compatibility-betamax.svg',
                description: 'Compatability Betamax'
            },
            {
                file: 'https://forthebadge.com/images/badges/does-not-contain-treenuts.svg',
                description: 'Does not contain tree nuts'
            },
            {
                file: 'https://forthebadge.com/images/badges/compatibility-blackberry.svg',
                description: 'Compatability Blackberry'
            },
            {
                file: 'https://forthebadge.com/images/badges/does-not-contain-msg.svg',
                description: 'Does not contain MSG'
            },
            {
                file: 'https://forthebadge.com/images/badges/compatibility-club-penguin.svg',
                description: 'Compatability Club Penguin'
            },
            {
                file: 'https://forthebadge.com/images/badges/contains-cat-gifs.svg',
                description: 'Contains cat GIFs'
            },
            {
                file: 'https://forthebadge.com/images/badges/designed-in-ms-paint.svg',
                description: 'Designed in MS Paint'
            },
            {
                file: 'https://forthebadge.com/images/badges/contains-technical-debt.svg',
                description: 'Contains technical debt'
            },
            {
                file: 'https://forthebadge.com/images/badges/designed-in-etch-a-sketch.svg',
                description: 'Designed in etch-a-sketch'
            },
            {
                file: 'https://forthebadge.com/images/badges/fo-real.svg',
                description: 'Fo Real'
            },
            {
                file: 'https://forthebadge.com/images/badges/fo-shizzle.svg',
                description: 'Fo Shizzle'
            }
        ]
    )