extends templates/_default

block includes
    include layouts/includes/_mixins

//- Page Head Variables
block vars
    -var title = '';
    -var description = '';

block content
    .svg__spritesheet
        include ./layouts/includes/inline.svg

    include layouts/general/_header

    .content
        .content__wrapper
            p.content__title Products and projects made for ourselves and the UX community.

            include layouts/general/_ventures

    //- Footer
    include layouts/general/_footer

block scripts
    script(src='https://cdnjs.cloudflare.com/ajax/libs/gsap/1.20.2/TweenMax.min.js')